.text-field
{
    -fx-text-fill: #B2B2B2;
    -fx-font-size : 13pt;
    -jfx-focus-color: #FFFF8D;
    -fx-text-fill: derive(#FFFF8D, 20%);
	-fx-prompt-text-fill: white;
}

#buttonLogin{
    -fx-text-fill: #B2B2B2;
    -fx-background-color: #2A2E37;
    -fx-border-color: #FFFF8D;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

#buttonLogin:hover{
    -fx-border-color: #FFFF8D;
    -fx-background-color: #FFFF8D;
    -fx-text-fill: #2A2E37;
}